<div layout-padding layout="column">
	<h1 class="md-headline">О проекте</h1>
	<div class="md-body-1">
		<md-content>
			<div class="strikethrough">
				<p>Здравствуй, дорогой друг!</p>
				<p>Не здороваюсь.</p>
				<p>Привет, дорогой россиянин!</p>
				<p>Мур-мур-мур, котятки. :3</p>	
			</div>
			<p>Оригинальное приветствие я так и не придумал, поэтому просто здравствуйте.</p>
			<h2>Коротко о сути</h2>
			<p>
				Возможно, вам уже доводилось слышать о том, что на YouTube пропадают лайки с видео.
				Лично мне доподлинно неизвестно, существует ли проблема на самом деле. 
				Чтобы в этом убедиться (а заодно и людям помочь), я создал этот небольшой проект,
				позволяющий проверить наличие лайков на указанных видео и восстановить их.
			</p>
			<h2>Коротко о планах</h2>
			<p>
				Сейчас доступен минимальный необходимый функционал, но если в дальнейшем развитии
				будет заинтересована достаточно большая группа людей, то я планирую как минимум создать
				расширение для браузера Chrome с идентичным функционалом + возможность добавлять видео в список 
				прямо со страницы YouTube. Также нужно будет решить вопрос с квотой на запросы к YouTube Data API.
			</p>
			<h2>О том, как можно помочь</h2>
			<h4>Способ первый. Easy.</h4>
			<p>
				Вы можете поделиться ссылкой на этот проект в соцсетях.
			</p>
			<div layout-xs="column">
				<a ng-repeat="social in $ctrl.socials" class="md-button md-raised md-primary" href="#"
				socialshare
				socialshare-provider="{{ ::social.provider }}"
				socialshare-text="YouLike - Восстановление лайков на YouTube."
				socialshare-url="https://youlikeapp.github.io">
					<i class="fa fa-{{ ::social.icon }}"></i>
					{{ ::social.title }}
				</a>
			</div>
			<h4>Способ второй. Medium.</h4>
			<p>
				Вы можете сообщать о проблемах и пожеланиях на этот ящик:
				<a href="mailto:youlikeapp@gmail.com">youlikeapp@gmail.com</a>
			</p>
			<h4>Способ третий. Hard.</h4>
			<p>
				<a href="https://github.com/youlikeapp/youlikeapp.github.io" target="_blank">Исходники проекта</a> находятся на GitHub, поэтому любой желающий
				может попробовать модифицировать его и сделать пулл-реквест.
				И да, там же можно писать о проблемах/пожеланиях, если не пугает
				буржуйский язык. =)
			</p>
			<h2>Заключение</h2>
			<p>
				Многие люди в нашей стране давно хотят перемен и мечтают построить ту самую
				"прекрасную Россию будущего" (в том числе и я). 
				И одним из основных инструментов достижения этой
				(пусть и утопичной) цели сегодня является YouTube - единственный на данный момент
				крупный оплот независимых СМИ и видеоблогеров. Надеюсь, что мой небольшой вклад
				хоть как-то поможет нашему общему делу.
				<p class="strikethrough">
					М-да, я вообще не умею в эпичные речи, грустненько.
				</p>

				<i>С уважением, Руслан.</i>
			</p>
		</md-content>
	</div>
</div>