<span flex></span>
<div layout="row" layout-align="start center">
    <md-button class="md-accent md-raised" ng-if="$ctrl.isAuthorized == false" ng-click="$ctrl.login()">
        <md-icon class="material-icons">&#xE879;</md-icon>
        Авторизоваться
    </md-button>
    <md-list ng-if="$ctrl.isAuthorized">
        <md-list-item>
            <img class="md-avatar" ng-src="{{ $ctrl.imageUrl }}" />
            <span class="md-body-1" layout-padding>{{ $ctrl.username }}</span>
            <md-button class="md-icon-button" ng-click="$ctrl.logout()">
                <md-icon class="material-icons">&#xE8AC;</md-icon>
            </md-button>
        </md-list-item>
    </md-list>   
    <span flex></span>
</div>
<span flex></span>